<html>
	<head>
	    <meta charset="UTF-8">
	    <title>PICK THE BIGGER SHAPE</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <!-- Bootstrap -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	    <style>
	        body {
	            height: 100%;
	        }
	    </style>
	</head>
	<body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Pick the Bigger Shape</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Leaders <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

	Leaders
	<p id="leaderboard">
		<table id=leaderboard></table>
	</p>

    <script src=https://code.jquery.com/jquery-3.1.1.min.js></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script>
	var data_string = "{{leaders}}".replace(/&#34;/g,'"');
	var data = JSON.parse(data_string);

	var html = "<tr> <th>Name</th> <th>Score</th> </tr>";
	for (var i=0; i<data.length; i++) {
		var name = data[i][0];
		var score = data[i][1];
		html += "<tr> <td>"+name+"</th> <th>" + score + "</th> </tr>";
	}
	$('#leaderboard').html(html)
	</script>
	</body>

</html>
